<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Head Boiler Plate -->
    <%- include('components/headerboilerplate') %>
  </head>
  <body class="mr-0">
    <div class="flex">
      <!-- Sidebar Section -->
      <div class="w-2/12 fixed h-full">
        <%- include('components/sidebar') %>
      </div>

      <!-- Content Section -->
      <div class="flex-grow ml-[16.6667%]">
        <!-- Navbar Section -->
        <%- include('components/navbar') %>

        <div
          class="hidden fixed inset-0 p-4 flex flex-wrap justify-center items-center w-full h-full z-[1000] before:fixed before:inset-0 before:w-full before:h-full before:bg-[rgba(0,0,0,0.5)] overflow-auto font-[sans-serif]"
        >
          <div
            class="w-full max-w-lg bg-white shadow-lg rounded-lg p-8 relative"
          >
            <div class="flex items-center">
              <h3 class="text-blue-600 text-xl font-bold flex-1">
                Add New Coupon
              </h3>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-3 ml-2 cursor-pointer shrink-0 fill-gray-400 hover:fill-red-500"
                viewBox="0 0 320.591 320.591"
              >
                <path
                  d="M30.391 318.583a30.37 30.37 0 0 1-21.56-7.288c-11.774-11.844-11.774-30.973 0-42.817L266.643 10.665c12.246-11.459 31.462-10.822 42.921 1.424 10.362 11.074 10.966 28.095 1.414 39.875L51.647 311.295a30.366 30.366 0 0 1-21.256 7.288z"
                  data-original="#000000"
                ></path>
                <path
                  d="M287.9 318.583a30.37 30.37 0 0 1-21.257-8.806L8.83 51.963C-2.078 39.225-.595 20.055 12.143 9.146c11.369-9.736 28.136-9.736 39.504 0l259.331 257.813c12.243 11.462 12.876 30.679 1.414 42.922-.456.487-.927.958-1.414 1.414a30.368 30.368 0 0 1-23.078 7.288z"
                  data-original="#000000"
                ></path>
              </svg>
            </div>

            <form class="space-y-4 mt-8">
              <div>
                <label class="text-black text-sm mb-2 block"
                  >Coupon Offer Type</label
                >
                <select
                  id="countries"
                  class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                >
                  <option selected value="Percentage">Percentage</option>
                  <option value="Fixed">Fixed</option>
                </select>
              </div>

              <div>
                <labe class="text-black text-sm mb-2 block">Coupon Value</labe>
                <input
                  type="number"
                  min="1"
                  placeholder="Enter product name"
                  class="px-4 py-3 bg-gray-100 w-full text-gray-800 text-sm border-none focus:outline-blue-600 focus:bg-transparent rounded-lg"
                />
              </div>

              <div>
                <label class="text-black text-sm mb-2 block"
                  >Applicable For</label
                >
                <select
                  id="applicableFor"
                  class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                >
                  <option value="All">All Products</option>
                  <option value="Brands">Brands</option>
                  <option value="Products">Products</option>
                </select>
              </div>

              <div>
                <label class="text-black text-sm mb-2 block"
                  >Choose Option</label
                >
                <select
                  id="chooseOption"
                  class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                >
                <option value="All">All</option>
              
              </select>
              </div>

              <div>
                <labe class="text-gray-800 text-sm mb-2 block"
                  >Usage Count</labe
                >
                <input
                  type="number"
                  min="1"
                  placeholder="Enter quantity"
                  class="px-4 py-3 bg-gray-100 w-full text-gray-800 text-sm border-none focus:outline-blue-600 focus:bg-transparent rounded-lg"
                />
              </div>

              <div>
                <labe class="text-gray-800 text-sm mb-2 block"
                  >Coupon Expiration</labe
                >
                <input
                  type="datetime-local"
                  placeholder="Enter price"
                  class="px-4 py-3 bg-gray-100 w-full text-gray-800 text-sm border-none focus:outline-blue-600 focus:bg-transparent rounded-lg"
                />
              </div>

              <div>
                <labe class="text-gray-800 text-sm mb-2 block"
                  >Coupon Code (Optional)</labe
                >
                <input
                  type="text"
                  placeholder="Enter Coupon Code"
                  class="px-4 py-3 bg-gray-100 w-full text-gray-800 text-sm border-none focus:outline-blue-600 focus:bg-transparent rounded-lg"
                />
              </div>

              <div class="flex justify-end gap-4 !mt-8">
                <button
                  type="button"
                  class="px-6 py-3 rounded-lg text-gray-800 text-sm border-none outline-none tracking-wide bg-gray-200 hover:bg-gray-300"
                >
                  Cancel
                </button>
                <button
                  type="button"
                  class="px-6 py-3 rounded-lg text-white text-sm border-none outline-none tracking-wide bg-blue-600 hover:bg-blue-700"
                >
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>

        <!-- Pass the brands data as a JSON string in a data attribute -->
        <div id="brandData" data-brands="<%= JSON.stringify(brands) %>"></div>

        <main class="flex flex-col flex-grow">
          <div class="ml-3 mt-3 items-end">
            <h2 class="text-xl font-bold">Coupon Page</h2>
          </div>

          <section class="p-3 sm:p-5 max-w-screen">
            <div class="mx-auto max-w-screen px-4 lg:px-12">
              <!-- Start coding here -->
              <div
                class="bg-slate-200 relative shadow-md sm:rounded-lg overflow-hidden"
              >
                <div
                  class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4"
                >
                  <div class="w-full md:w-1/2 bg-green-50">
                    <form class="flex items-center">
                      <label for="simple-search" class="sr-only">Search</label>
                      <div class="relative w-full">
                        <div
                          class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
                        >
                          <svg
                            aria-hidden="true"
                            class="w-5 h-5 text-black"
                            fill="currentColor"
                            viewbox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                              clip-rule="evenodd"
                            />
                          </svg>
                        </div>
                        <input
                          type="text"
                          id="simple-search"
                          class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2"
                          placeholder="Search"
                          required=""
                        />
                      </div>
                    </form>
                  </div>
                  <div
                    class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0"
                  >
                    <button
                      type="button"
                      class="flex items-center justify-center text-white bg-submit-button hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2"
                    >
                      <svg
                        class="h-3.5 w-3.5 mr-2"
                        fill="currentColor"
                        viewbox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                        aria-hidden="true"
                      >
                        <path
                          clip-rule="evenodd"
                          fill-rule="evenodd"
                          d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
                        />
                      </svg>
                      Add coupon
                    </button>
                    <div class="flex items-center space-x-3 w-full md:w-auto">
                      <button
                        id="actionsDropdownButton"
                        data-dropdown-toggle="actionsDropdown"
                        class="w-full md:w-auto flex items-center justify-center py-2 px-4 text-sm font-medium text-black focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200"
                        type="button"
                      >
                        <svg
                          class="-ml-1 mr-1.5 w-5 h-5"
                          fill="currentColor"
                          viewbox="0 0 20 20"
                          xmlns="http://www.w3.org/2000/svg"
                          aria-hidden="true"
                        >
                          <path
                            clip-rule="evenodd"
                            fill-rule="evenodd"
                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                          />
                        </svg>
                        Actions
                      </button>
                      <div
                        id="actionsDropdown"
                        class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow"
                      >
                        <ul
                          class="py-1 text-sm text-black"
                          aria-labelledby="actionsDropdownButton"
                        >
                          <li>
                            <a
                              href="#"
                              class="block py-2 px-4 hover:bg-gray-100"
                              >Mass Edit</a
                            >
                          </li>
                        </ul>
                        <div class="py-1">
                          <a
                            href="#"
                            class="block py-2 px-4 text-sm text-black hover:bg-gray-100"
                            >Delete all</a
                          >
                        </div>
                      </div>
                      <button
                        id="filterDropdownButton"
                        data-dropdown-toggle="filterDropdown"
                        class="w-full md:w-auto flex items-center justify-center py-2 px-4 text-sm font-medium text-black focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200"
                        type="button"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          aria-hidden="true"
                          class="h-4 w-4 mr-2 text-gray-400"
                          viewbox="0 0 20 20"
                          fill="currentColor"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M3 3a1 1 0 011-1h12a1 1 0 011 1v3a1 1 0 01-.293.707L12 11.414V15a1 1 0 01-.293.707l-2 2A1 1 0 018 17v-5.586L3.293 6.707A1 1 0 013 6V3z"
                            clip-rule="evenodd"
                          />
                        </svg>
                        Filter
                        <svg
                          class="-mr-1 ml-1.5 w-5 h-5"
                          fill="currentColor"
                          viewbox="0 0 20 20"
                          xmlns="http://www.w3.org/2000/svg"
                          aria-hidden="true"
                        >
                          <path
                            clip-rule="evenodd"
                            fill-rule="evenodd"
                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                          />
                        </svg>
                      </button>
                      <div
                        id="filterDropdown"
                        class="z-10 hidden w-48 p-3 bg-white rounded-lg shadow"
                      >
                        <h6 class="mb-3 text-sm font-medium text-black">
                          Choose brand
                        </h6>
                        <ul
                          class="space-y-2 text-sm"
                          aria-labelledby="filterDropdownButton"
                        >
                          <li class="flex items-center">
                            <input
                              id="apple"
                              type="checkbox"
                              value=""
                              class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-black focus:ring-black focus:ring-2"
                            />
                            <label
                              for="apple"
                              class="ml-2 text-sm font-medium text-black"
                              >Apple (56)</label
                            >
                          </li>
                          <li class="flex items-center">
                            <input
                              id="fitbit"
                              type="checkbox"
                              value=""
                              class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-black focus:ring-black focus:ring-2"
                            />
                            <label
                              for="fitbit"
                              class="ml-2 text-sm font-medium text-black"
                              >Microsoft (16)</label
                            >
                          </li>
                          <li class="flex items-center">
                            <input
                              id="razor"
                              type="checkbox"
                              value=""
                              class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-black focus:ring-black focus:ring-2"
                            />
                            <label
                              for="razor"
                              class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100"
                              >Razor (49)</label
                            >
                          </li>
                          <li class="flex items-center">
                            <input
                              id="nikon"
                              type="checkbox"
                              value=""
                              class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-black focus:ring-black focus:ring-2"
                            />
                            <label
                              for="nikon"
                              class="ml-2 text-sm font-medium text-black"
                              >Nikon (12)</label
                            >
                          </li>
                          <li class="flex items-center">
                            <input
                              id="benq"
                              type="checkbox"
                              value=""
                              class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-black focus:ring-black focus:ring-2"
                            />
                            <label
                              for="benq"
                              class="ml-2 text-sm font-medium text-black"
                              >BenQ (74)</label
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="overflow-x-auto">
                  <table class="w-full text-sm text-left text-gray-500">
                    <thead class="text-xs text-white uppercase bg-gray-600">
                      <tr>
                        <th scope="col" class="px-4 py-3">Product name</th>
                        <th scope="col" class="px-4 py-3">Category</th>
                        <th scope="col" class="px-4 py-3">Brand</th>
                        <th scope="col" class="px-4 py-3">Description</th>
                        <th scope="col" class="px-4 py-3">Price</th>
                        <th scope="col" class="px-4 py-3">
                          <span class="sr-only">Actions</span>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="border-b">
                        <th
                          scope="row"
                          class="px-4 py-3 font-medium text-black whitespace-nowrap"
                        >
                          Apple iMac 27&#34;
                        </th>
                        <td class="px-4 py-3 text-black">PC</td>
                        <td class="px-4 py-3 text-black">Apple</td>
                        <td class="px-4 py-3 text-black">300</td>
                        <td class="px-4 py-3 text-black">$2999</td>
                        <td
                          class="px-4 py-3 text-black flex items-center justify-end"
                        >
                          <button
                            id="apple-imac-27-dropdown-button"
                            data-dropdown-toggle="apple-imac-27-dropdown"
                            class="inline-flex items-center p-0.5 text-sm font-medium text-center text-black hover:text-gray-800 rounded-lg focus:outline-none"
                            type="button"
                          >
                            <svg
                              class="w-5 h-5"
                              aria-hidden="true"
                              fill="currentColor"
                              viewbox="0 0 20 20"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"
                              />
                            </svg>
                          </button>
                          <div
                            id="apple-imac-27-dropdown"
                            class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow"
                          >
                            <ul
                              class="py-1 text-sm text-gray-700"
                              aria-labelledby="apple-imac-27-dropdown-button"
                            >
                              <li>
                                <a
                                  href="#"
                                  class="block py-2 px-4 hover:bg-gray-100"
                                  >Show</a
                                >
                              </li>
                              <li>
                                <a
                                  href="#"
                                  class="block py-2 px-4 hover:bg-gray-100"
                                  >Edit</a
                                >
                              </li>
                            </ul>
                            <div class="py-1">
                              <a
                                href="#"
                                class="block py-2 px-4 text-sm text-black hover:bg-gray-100"
                                >Delete</a
                              >
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <nav
                  class="flex flex-col md:flex-row justify-between items-start md:items-center space-y-3 md:space-y-0 p-4"
                  aria-label="Table navigation"
                >
                  <span class="text-sm font-normal text-black">
                    Showing
                    <span class="font-semibold text-black">1-10</span>
                    of
                    <span class="font-semibold tex// Event listener to append the selected option directly below the select field
chooseOption.addEventListener("change", function() {
  const selectedOption = chooseOption.options[chooseOption.selectedIndex];
  
  // Check if the option is already displayed
  const existingOption = document.querySelector(`#chooseOption + .selected-option[data-id="${selectedOption.value}"]`);
  if (!existingOption) {
    const optionDiv = document.createElement("div");
    optionDiv.className = "selected-option";
    optionDiv.dataset.id = selectedOption.value;
    optionDiv.textContent = selectedOption.textContent;
    
    // Append the selected option directly below the select field
    chooseOption.insertAdjacentElement('afterend', optionDiv);
  }
});t-black">1000</span>
                  </span>
                  <ul class="inline-flex items-stretch -space-x-px">
                    <li>
                      <a
                        href="#"
                        class="flex items-center justify-center h-full py-1.5 px-3 ml-0 text-black bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700"
                      >
                        <span class="sr-only">Previous</span>
                        <svg
                          class="w-5 h-5"
                          aria-hidden="true"
                          fill="currentColor"
                          viewbox="0 0 20 20"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                            clip-rule="evenodd"
                          />
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a
                        href="#"
                        class="flex items-center justify-center text-sm py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700"
                        >1</a
                      >
                    </li>
                    <li>
                      <a
                        href="#"
                        class="flex items-center justify-center text-sm py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700"
                        >2</a
                      >
                    </li>

                    <li>
                      <a
                        href="#"
                        class="flex items-center justify-center text-sm py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700"
                        >...</a
                      >
                    </li>
                    <li>
                      <a
                        href="#"
                        class="flex items-center justify-center text-sm py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700"
                        >100</a
                      >
                    </li>
                    <li>
                      <a
                        href="#"
                        class="flex items-center justify-center h-full py-1.5 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700"
                      >
                        <span class="sr-only">Next</span>
                        <svg
                          class="w-5 h-5"
                          aria-hidden="true"
                          fill="currentColor"
                          viewbox="0 0 20 20"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                            clip-rule="evenodd"
                          />
                        </svg>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </section>
        </main>
      </div>
    </div>

    <script>
      const brands = JSON.parse(
        document.getElementById("brandData").dataset.brands
      );

      document
        .getElementById("applicableFor")
        .addEventListener("change", function () {
          const selectedOption = this.value;
          const chooseOption = document.getElementById("chooseOption");
          const selectedOptionsContainer = document.getElementById(
            "selectedOptionsContainer"
          );

          // Clear the current option
          chooseOption.innerHTML = "";

          if (selectedOption === "Brands") {
            // Populate the dropdown with brand names
            brands.forEach((brand) => {
              const option = document.createElement("option");
              option.value = brand._id;
              option.textContent = brand.brand_name;
              chooseOption.appendChild(option);
            });

            // Event listener to append the selected option directly below the select field
            chooseOption.addEventListener("change", function () {
              const selectedOption =
                chooseOption.options[chooseOption.selectedIndex];

              // Check if the option is already displayed
              const existingOption = document.querySelector(
                `#chooseOption + .selected-option[data-id="${selectedOption.value}"]`
              );
              if (!existingOption) {
                const optionDiv = document.createElement("div");
                optionDiv.className = "selected-option";
                optionDiv.dataset.id = selectedOption.value;
                optionDiv.textContent = selectedOption.textContent;

                // Append the selected option directly below the select field
                chooseOption.insertAdjacentElement("afterend", optionDiv);
              }
            });
          } else if (selectedOption === "Products") {
            // Populate the dropdown with product names
            brands.forEach((brand) => {
              brand.products.forEach((product) => {
                const option = document.createElement("option");
                option.value = product._id;
                option.textContent =
                  brand.brand_name + " " + product.product_name;
                chooseOption.appendChild(option);
              });
            });
          } else {
            const option = document.createElement("option");
            option.value = "All";
            option.textContent = "All";
            chooseOption.appendChild(option);
          }
        });
    </script>
  </body>
</html>
