<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Head Boiler Plate -->
    <%- include('components/headerboilerplate') %>
  </head>
  <body class="mr-0"></body>
    <div class="flex">
      <!-- Sidebar Section -->
      <div class="w-2/12 fixed h-full">
        <%- include('components/sidebar') %>
      </div>

      <!-- Content Section -->
      <div class="flex-grow ml-[16.6667%]">
        <!-- Navbar Section -->
        <%- include('components/navbar') %>

        <main class="flex flex-col flex-grow">
          <div>
            <div>
              <h2>Best Sold Brand</h2>
              <p>Best Seller Of The Month</p>
              <div>
                <div>
                  <p>$89K</p>
                  <p>You have Done 57.6% More Sales Today</p>
                  <button class="p-3">
                    View Sales
                  </button>
                </div>
                <div>
                  <img src="" alt="">
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
