<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LTC</title>
    <link rel="stylesheet" href="/stylesheet/admin/adminLoginOutput.css" />
    <link rel="icon" type="image/x-icon" href="/images/Logo.png" />
    <style>
      .input-field {
        padding: 10px;
        border-radius: 9999px;
      }

      .submit-button {
        padding: 12px 24px;
        border-radius: 9999px;
      }
    </style>
  </head>
  <body class="h-screen flex flex-col justify-between">
    <!-- Navbar Section -->
    <nav class="flex items-center justify-between p-6 shadow-lg bg-white">
      <div class="flex items-center">
        <img src="/images/Logo.png" alt="logoimage" class="h-8 w-8" />
        <p class="text-2xl font-sans font-medium ml-2">LTC</p>
      </div>
      <div class="flex items-center">
        <button class="flex items-center text-gray-700">
          <img src="/images/user_icon.png" alt="User Icon" class="h-8 w-8" />
          <a href="/user/loginPage"><p class="pl-2 pr-2">Login</p></a>
          <img
            src="/images/dropdown_icon.svg"
            alt="Dropdown Icon"
            class="h-4 w-4"
            onclick="toggleDropdown()"
          />
        </button>
        <div class="ml-2">
          <div
            id="dropdownMenu"
            class="absolute right-0 mt-8 w-48 bg-white border rounded-lg shadow-lg invisible"
          >
            <a
              href="/user/signUpPage"
              class="block px-4 py-2 text-gray-800 hover:bg-gray-200 text-center"
              >Create an account</a
            >
          </div>
        </div>
      </div>
    </nav>

    <!-- Main Content Section -->
    <main class="flex-1 flex justify-center items-center">
      <div
        class="flex flex-col justify-center items-center bg-form-green rounded-2xl shadow-2xl p-8"
      >
        <form
          action="/user/passwordResetForm"
          method="post"
          class="flex flex-col justify-center max-w-md w-full"
        >
          <input
            type="email"
            name="email"
            placeholder="Please enter your email"
            class="input-field m-4 text-lg p-8 text-center border-solid border-2 border-black rounded-full shadow-2xl"
            required
          />
          <input
            type="password"
            name="newPassword"
            placeholder="Enter new password"
            class="input-field m-4 text-lg p-8 text-center border-solid border-2 border-black rounded-full shadow-2xl"
            required
          />

          <div class="flex justify-center">
            <p class="text-red-600"><%=userPasswordDoNotMatchError%></p>
          </div>

          <input
            type="password"
            name="confirmPassword"
            placeholder="Confirm your password"
            class="input-field m-4 text-lg p-8 text-center border-solid border-2 border-black rounded-full shadow-2xl"
            required
          />

          <div class="flex justify-center">
            <p class="text-red-600"><%=userPasswordDoNotMatchError%></p>
          </div>

          <input
            type="submit"
            value="Submit"
            class="submit-button m-4 border-solid border-2 border-black bg-submit-button text-white rounded-full shadow-2xl"
          />
        </form>
      </div>
    </main>

    <!-- Footer Section -->
    <footer class="flex items-center justify-center bg-black text-white h-24">
      <p>@ 2024 Laptoptradecenter.com</p>
    </footer>

    <!-- JavaScript for Dropdown Toggle -->
    <script>
      const toggleDropdown = function () {
        const dropDownmenu = document.getElementById("dropdownMenu");
        dropDownmenu.classList.toggle("invisible");
      };
    </script>
  </body>
</html>
