<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LTC</title>
    <link rel="stylesheet" href="/stylesheet/admin/adminLoginOutput.css" />
    <link rel="icon" type="image/x-icon" href="/images/Logo.png" />
    <style>
      .input-field {
        padding: 10px;
        border-radius: 9999px;
      }

      .submit-button {
        padding: 12px 24px;
        border-radius: 9999px;
      }
    </style>
  </head>
  <body class="h-screen flex flex-col justify-between">
    <!-- Navbar Section -->
    <div class="flex flex-col shadow-xl">
      <nav class="flex items-center justify-between p-6 bg-white">
        <div class="flex items-center">
          <img src="/images/Logo.png" alt="logoimage" class="h-8 w-8" />
          <a href="/"
            ><p class="text-2xl font-sans font-medium ml-2">LTC</p></a
          >
        </div>

        <div class="flex items-center">
          <form
            class="relative border-solid border-2 border-gray-300 rounded-full w-96 flex items-center"
          >
            <svg
              class="absolute left-3 h-4 w-4 text-gray-400"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 26 26"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M21 21l-4.35-4.35m1.24-4.65a7.5 7.5 0 10-10.5 0 7.5 7.5 0 0010.5 0z"
              ></path>
            </svg>
            <input
              type="search"
              name="search"
              placeholder="Search"
              class="pl-10 pr-4 py-1 w-full rounded-full focus:outline-none focus:ring-2 focus:ring-black"
            />
          </form>
          <form action="" method="post" class="h-4 border"></form>

          <button class="flex items-center ml-4 text-gray-700">
            <img src="/images/user_icon.png" alt="User Icon" class="h-8 w-8" />
            <p class="pl-2 pr-2"><%=username%></p>
            <img
              src="/images/dropdown_icon.svg"
              alt="Dropdown Icon"
              class="h-4 w-4"
              onclick="toggleDropdown()"
            />
          </button>
          <button class="flex items-center text-gray-700 ml-4">
            <img src="/images/cart.png" alt="Dropdown Icon" class="h-6 w-6" />
            <a href="/cartPage"><p class="pl-2 pr-2">Cart</p></a>
          </button>
          <div class="ml-2">
            <div
              id="dropdownMenu"
              class="absolute right-0 mt-8 w-48 bg-white border rounded-lg shadow-lg invisible"
            >
              <a
                href="/profilePage"
                class="block px-4 py-2 text-gray-800 hover:bg-gray-200 text-center"
                >My Profile</a
              >
              <a
                href="/orderPage"
                class="block px-4 py-2 text-gray-800 hover:bg-gray-200 text-center"
                >Orders</a
              >
              <a
                href="/wishListPage"
                class="block px-4 py-2 text-gray-800 hover:bg-gray-200 text-center"
                >WishList</a
              >
              <a
                href="/couponPage"
                class="block px-4 py-2 text-gray-800 hover:bg-gray-200 text-center"
                >Coupons</a
              >
              <% if( username !== 'Login' ) { %>
              <a
                href="/logout"
                class="block px-4 py-2 text-gray-800 hover:bg-gray-200 text-center"
                >Logout</a
              >
              <% } %>
            </div>
          </div>
        </div>
      </nav>

      <div class="flex px-8 justify-between m-2 text-sm">
        <%for( const brand_name of brands ) { %>
        <a href="/filterPage"><%= brand_name %></a>
        <% } %>
      </div>
    </div>

    <!-- Main Content Section -->
    <main class="flex flex-row justify-center">
      <div class="w-1/5 flex flex-col shadow-2xl mt-6">
        <%- include('components/sidebar') %>
      </div>

      <div class="w-4/5 m-6">
        <form action="#" method="post" enctype="multipart/form-data">
          <div class="grid grid-cols-2 gap-4 mb-4">
            <div>
              <label for="first_name" class="block text-gray-700"
                >First Name</label
              >
              <input
                type="text"
                id="first_name"
                name="first_name"
                class="w-full p-2 border shadow-xl rounded"
                placeholder="First Name"
              />
            </div>
            <div>
              <label for="second_name" class="block text-gray-700"
                >Second Name</label
              >
              <input
                type="text"
                id="second_name"
                name="second_name"
                class="w-full p-2 border shadow-xl rounded"
                placeholder="Second Name"
              />
            </div>
          </div>
          <div class="grid grid-cols-2 gap-4 mb-4">
            <div>
              <label for="address_line_1" class="block text-gray-700"
                >Address Line 1</label
              >
              <input
                type="text"
                id="address_line_1"
                name="address_line_1"
                class="w-full p-2 border shadow-xl rounded"
                placeholder="Address Line 1"
              />
            </div>
            <div>
              <label for="address_line_2" class="block text-gray-700"
                >Address Line 2</label
              >
              <input
                type="text"
                id="address_line_2"
                name="address_line_2"
                class="w-full p-2 border shadow-xl rounded"
                placeholder="Address Line 2"
              />
            </div>
            <div>
              <label for="city" class="block text-gray-700">City</label>
              <input
                type="text"
                id="city"
                name="city"
                class="w-full p-2 border shadow-xl rounded"
                placeholder="City"
              />
            </div>
            <div>
              <label for="state" class="block text-gray-700">State</label>
              <input
                type="text"
                id="state"
                name="state"
                class="w-full p-2 border shadow-xl rounded"
                placeholder="State"
              />
            </div>
            <div>
              <label for="country" class="block text-gray-700">Country</label>
              <input
                type="text"
                id="country"
                name="country"
                class="w-full p-2 border shadow-xl rounded"
                placeholder="Country"
              />
            </div>
            <div>
              <label for="zip_code" class="block text-gray-700">Zip Code</label>
              <input
                type="text"
                id="zip_code"
                name="zip_code"
                class="w-full p-2 border shadow-xl rounded"
                placeholder="Zip Code"
              />
            </div>
            <div>
              <label for="phone_number" class="block text-gray-700"
                >Phone Number</label
              >
              <input
                type="text"
                id="phone_number"
                name="phone_number"
                class="w-full p-2 border shadow-xl rounded"
                placeholder="Phone Number"
              />
            </div>
            <div>
              <label for="email" class="block text-gray-700">Email</label>
              <input
                type="text"
                id="email"
                name="email"
                class="w-full p-2 border shadow-xl rounded"
                placeholder="Email"
              />
            </div>
          </div>

          <button
            type="submit"
            class="bg-submit-button text-white px-4 py-2 shadow-xl rounded"
          >
            Update Profile
          </button>
        </form>
      </div>
    </main>

    <!-- Footer Section -->
    <footer class="flex items-center justify-center bg-black text-white h-24">
      <p>@ 2024 Laptoptradecenter.com</p>
    </footer>

    <!-- JavaScript for Dropdown Toggle -->
    <script>
      const toggleDropdown = function () {
        const dropDownmenu = document.getElementById("dropdownMenu");
        dropDownmenu.classList.toggle("invisible");
      };
    </script>
  </body>
</html>
