<nav
  id="sidebar"
  class="bg-white md:w-1/5 shadow-2xl mt-6 top-0 left-0 min-w-[240px] py-6 px-4 font-[sans-serif] overflow-auto md:block hidden"
>
  <ul>
    <li>
      <a
        href="/user/profilePage"
        class="text-black hover:text-blue-600 block hover:bg-blue-50 rounded px-4 py-2.5 transition-all"
      >
        My Profile
      </a>
    </li>
    <li>
      <a
        href="/user/orderPage"
        class="text-black hover:text-blue-600 block hover:bg-blue-50 rounded px-4 py-2.5 transition-all"
      >
        Orders
      </a>
    </li>
    <li>
      <a
        href="/user/wishListPage"
        class="text-black hover:text-blue-600 block hover:bg-blue-50 rounded px-4 py-2.5 transition-all"
      >
        WishList
      </a>
    </li>
    <li>
      <a
        href="/user/couponPage"
        class="text-black hover:text-blue-600 block hover:bg-blue-50 rounded px-4 py-2.5 transition-all"
      >
        Coupon
      </a>
    </li>
    <li>
      <a
        href="/user/logout"
        class="text-black hover:text-blue-600 block hover:bg-blue-50 rounded px-4 py-2.5 transition-all"
      >
        Logout
      </a>
    </li>
  </ul>
</nav>
