<!-- Main Content Section -->

<div class="shadow-lg">
  <h1 class="text-lg m-6">Profile Information</h1>
</div>

<div class="m-3 flex flex-row justify-between shadow-xl">
  <div class="m-2">
    <a href="/user/profilePage"><span>My Profile</span></a>
  </div>
  <div>
    <button class="flex items-center m-2 text-gray-700">
      <img
        src="/images/dropdown_icon.svg"
        alt="Dropdown Icon"
        class="h-4 w-4"
        onclick="brandToggleDropdown()"
      />
    </button>
  </div>
</div>
<div class="m-3 flex flex-row justify-between shadow-xl">
  <div class="m-2">
    <a href="/user/orderPage"><span>Orders</span></a>
  </div>
  <div>
    <button class="flex items-center m-2 text-gray-700">
      <img
        src="/images/dropdown_icon.svg"
        alt="Dropdown Icon"
        class="h-4 w-4"
        onclick="brandToggleDropdown()"
      />
    </button>
  </div>
</div>
<div class="m-3 flex flex-row justify-between shadow-xl">
  <div class="m-2">
    <a href="/user/wishListPage"><span>WishList</span></a>
  </div>
  <div>
    <button class="flex items-center m-2 text-gray-700">
      <img
        src="/images/dropdown_icon.svg"
        alt="Dropdown Icon"
        class="h-4 w-4"
        onclick="brandToggleDropdown()"
      />
    </button>
  </div>
</div>
<div class="m-3 flex flex-row justify-between shadow-xl">
  <div class="m-2">
    <a href="/user/couponPage"><span>Coupon</span></a>
  </div>
  <div>
    <button class="flex items-center m-2 text-gray-700">
      <img
        src="/images/dropdown_icon.svg"
        alt="Dropdown Icon"
        class="h-4 w-4"
        onclick="brandToggleDropdown()"
      />
    </button>
  </div>
</div>
<div class="m-3 flex flex-row justify-between shadow-xl">
  <div class="m-2">
    <a href="/user/logout"><span>Logout</span></a>
  </div>
  <div>
    <button class="flex items-center m-2 text-gray-700">
      <img
        src="/images/logout_icon.png"
        alt="Dropdown Icon"
        class="h-4 w-4"
        onclick="brandToggleDropdown()"
      />
    </button>
  </div>
</div>
