<!-- Head Boiler Plate -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>LTC</title>
<link rel="stylesheet" href="/stylesheet/admin/adminLoginOutput.css" />
<link rel="icon" type="image/x-icon" href="/images/logo.png" />
