<!-- Sidebar -->
<div class="w-1/5 flex flex-col shadow-2xl mt-6">
  <div class="m-3 shadow-xl">
    <div class="m-2">
      <a href="/admin/dashboard"><span>Dashboard</span></a>
    </div>
  </div>
  <div class="m-3 shadow-xl">
    <div class="m-2">
      <a href="/admin/salesReportPage"><span>Sales Report</span></a>
    </div>
  </div>
  <div class="m-3 shadow-xl">
    <div class="m-2">
      <a href="/admin/customersPage"><span>Customers</span></a>
    </div>
  </div>
  <div class="m-3 shadow-xl">
    <div class="m-2">
      <a href="/admin/brandsPage"><span>Brands</span></a>
    </div>
  </div>
  <div class="m-3 shadow-xl">
    <div class="m-2">
      <a href="/admin/productsPage"><span>Products</span></a>
    </div>
  </div>
  <div class="m-3 shadow-xl">
    <div class="m-2">
      <a href="/admin/orderListPage"><span>Order List</span></a>
    </div>
  </div>
  <div class="m-3 shadow-xl">
    <div class="m-2">
      <a href="/admin/addBannerPage"><span>Banner</span></a>
    </div>
  </div>
  <div class="m-3 shadow-xl">
    <div class="m-2">
      <a href="/admin/addDiscountPage"><span>Discounts</span></a>
    </div>
  </div>
  <div class="m-3 shadow-xl">
    <div class="m-2">
      <a href="/admin/addCouponPage"><span>Coupons</span></a>
    </div>
  </div>
</div>
